@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    padding: 2% 5%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(187, 198, 255, 1) 0%, rgba(199, 199, 199, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

body>h1 {
    font-size: 52px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5%;
    gap: 2rem;
    max-width: 90%;
    background-color: #fff;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .2), 10px 10px 10px rgba(0, 0, 0, .2);
    margin: auto;
    position: relative;
    flex-grow: 1;
    transition: .3s;
}

/* dark mode btn */
.dmode {
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    top: 10px;
    left: 10px;
}

h1 {
    font-weight: bold;
}

.money {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 2rem;
}

.cash {
    font-size: 64px;
}

.box {
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    flex-grow: 1;
    min-height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2), 5px -2px 10px rgba(0, 0, 0, .2);
    transition: .3s;
}

.box>h1 {
    font-size: 32px;
    font-weight: normal;
}

.incomes.box>.cash {
    color: rgb(85, 189, 85);
}

.cash>span {
    background-color: transparent;
}

.exp.box>.cash {
    color: rgb(187, 55, 88);
}

/* popup class */
.popup {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 -2px 15px rgba(0, 0, 0, .2);
    gap: 2rem;
    transition: transform .3s ease;
    transform: translateY(100%);
}

.active {
    transform: translateX(0);
}

/* popup items */
.popup h1 {
    font-weight: normal;
}

.popup input,
#category {
    width: 50%;
    height: 40px;
    font-size: 18px;
    outline: none;
    transition: .3s;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid rgb(160, 160, 160);
}

.popup input:focus,
#category:focus {
    background-color: rgba(125, 244, 218, .5);
    color: #000;
}

.errorInfo {
    font-size: 22px;
    font-weight: normal;
}

.buttons {
    display: flex;
    gap: .5rem;
    justify-content: space-evenly;
    width: 100%;
}

.btn {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(36, 149, 224);
    color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    font-size: 18px;
    transition: .2s;
}

.popup .btn {
    width: 80px;
}

.btn:hover {
    color: rgb(119, 243, 103)
}

/* dmode */
.dark-mode {
    background-color: rgb(51, 51, 51);
    color: #fff;
}

.dark-mode p,
.dark-mode h1,
.dmode.dark-mode,
.dark-mode.buttons {
    background-color: transparent;
}

body.dark-mode {
    background: linear-gradient(180deg, rgba(0, 157, 145, 1) 0%, rgba(0, 22, 59, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.history {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.history>ul {
    width: 80%;
}

.record {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

@media(orientation: landscape) {
    .wrapper {
        flex-flow: row wrap;
    }

    .box {
        width: calc(80%/3);
    }
}

@media(max-width: 768px) {
    .wrapper {
        width: 90%;
    }

    .buttons {
        flex-direction: column;
        gap: .5rem;
    }
}